

.list{

    display: flex;
	flex-direction: column;
    justify-content: center;
    text-align: center;

}
.waiting{

    display: flex;
	flex-direction: column;
    justify-content: center;
    text-align: center;

}