<p>list-view works!</p>

<div class="list">

    <ul *ngIf="albums.length > 0; else waitingForAlbums">
    
        <li *ngFor="let album of albums">
            <!-- <div>
                Name: <a [routerLink]="['/albums', albums.albumId]">{{albums.description}}</a>
            <br>
                Email: {{ticket.submitterEmail}}
            <br>
                Subject Line: {{ticket.subjectLine}}
            <br>
                Problem: {{ticket.problem}}
            <br>
                Time Submitted: {{ticket.submittedTime}}
            <br>    
    
                <button (click)="deleteTicket(ticket.ticketID)">Delete</button>
                 
                <br>Click here to favorite/assign this ticket
            
            </div> -->
        </li>
        
        </ul>
</div>
    <div class="waiting">

        <ng-template #waitingForAlbums>
            <p>collecting your Albums...</p>
        </ng-template>

    </div>
