<div>
	<h1 class="albumByArtistLookupHeader">Provide an Artist!</h1>
</div>


<div>
	<label>Artist:</label>
	<input type="text" [formControl]="artistInput">

</div>

<div>
	<button type="button" (click)="requestAlbumsByArtist()">Search Albums by Artist</button>
</div>

<div class="list">

	<ul class="image-list" *ngIf="!loading && (requestAlbumsByArtist$ | async) as albums; else waitingForAlbums">
		<li class="image-list-item" *ngFor="let album of albums">
			<a class="img-thumbnail" (click)="routeToNeuralLink(album.largeImage)">
				<p>
					Name: {{album.name}} From This Artist: {{album.name}}
				</p>
				<img [src]="album.largeImage">
			</a>
		</li>
	</ul>

</div>
<div class="waiting">

	<ng-template #waitingForAlbums>

		<div *ngIf="loading" class="spinner">

		</div>

		<p>collecting your Albums...</p>
	</ng-template>

</div>