<!doctype html>
<html lang="en">
  <head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <div>
	<h1 class=" albumByArtistLookupHeader">Provide an Artist!</h1>
</div>
<div>
	<p>
		
	</p>

</div>

  <body class =" albumByArtistLookupBody">
	<form formgroup ="albumsByArtistFormGroup" (submit)="requestAlbumsByArtist()">
		<div>
			<label>Artist:</label>
			<input type="text" formControlName="artistInput">
		</div>
	
		<div>
			<button type="submit" (click)="requestAlbumsByArtist()">Search Albums by Artist</button>
			<!-- NEED TO ROUTE TO ARTIST/ALBUM LIST ONCE BUTTON IS SELECTED -->
		</div>
	</form>

  </body>
</html>





