.albumUploadHeader{
    display: inline-block;
	direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(108, 96, 116);
    color: rgb(219, 177, 231)

}

.albumUploadBody{

    display: inline;
	direction: column; 
    justify-content: center;
    text-align: center;

}
* {
    text-align: center;
    background-color: rgb(108, 96, 116);
  }
  button{
    background-color: rgb(191, 172, 196);
    color: rgb(53, 37, 58);
    text-align: center;
    padding: 15px 25px;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;

  }
  label{
    color:  rgb(20, 8, 31);

  }
  input{
      background-color: antiquewhite;

  }

.image-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.image-list-item {
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direciton: column;
    padding: 1rem;
}

.image-list-item img {
    width: 8rem;
    height: 8rem;
}