.albumUploadHeader{
    display: inline-block;
	direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(122, 219, 223);
    color: rgb(163, 88, 138);

}

.albumUploadBody{

    display: inline;
	direction: column; 
    justify-content: center;
    text-align: center;

}
* {
    text-align: center;
    background-color: rgb(247, 192, 244);
  }
  button{
    background-color: rgb(59, 63, 66);
    color:  rgb(122, 219, 223);
    text-align: center;
    padding: 15px 25px;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;

  }
  label{
    color:  rgb(20, 8, 31);

  }
  input{
      background-color: antiquewhite;

  }