.homeHeader{
    display: flex;
	flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(122, 219, 223);
    color: rgb(163, 88, 138)


}


.homeDescription{

    display: flex;
	flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(122, 219, 223);
    color: rgb(163, 88, 138)
}

.button{
    display: flex;
	flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(196, 167, 129);
    color: rgb(27, 13, 19)

}
