

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div class = "generatedArtHead">
          <h1> Check Out These Pics That Could Become Your Own Album Art! </h1>
      </div>
      <div class ="variousImages">
        <div class ="img1">
          <img width="300px" height="300px" src={{imageURL1}}/>
        </div>
        <div>
          
        </div>
        <div class ="img2">
          <img width="300px" height="300px" src={{imageURL2}}/>
        </div>
        <div>

        </div>
        <div>
          <div class ="img3">
            <img width="300px" height="300px" src={{imageURL3}}/>
          </div>
        </div>

        </div>
        <div>
          <div class ="img4">
            <img width="300px" height="300px" src={{imageURL4}}/>
          </div>
        </div>     

  </body>
</html>


