.generatedArtHead{
    display: flex;
	flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: rgb(108, 96, 116);
    color: rgb(227, 191, 236)

}


  .variousImages{

    display: flex;
	flex-direction: row;
    /* justify-content: center; */
    /* text-align: center; */

}  

.image-list{
    display: flex;
	flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;

    object-fit: fill;
    object-position: center;
}