.generatedArtHead{
    display: flex;
	flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: rgb(122, 219, 223);
    color: rgb(163, 88, 138)

}


  .variousImages{

    display: flex;
	flex-direction: row;
    /* justify-content: center; */
    /* text-align: center; */

}  

.img1{
    display: flex;
	flex-direction: row;
    justify-content: left;

    object-fit: fill;
    object-position: left;
    
}
.img2{
    display: flex;
	flex-direction: row;
    justify-content: left;

    object-fit: fill;
    object-position: left;
}
.img3{
    display: flex;
	flex-direction: row;
    justify-content: left;

    object-fit: fill;
    object-position: left;
}