<body class="albumByArtistLookupBody">
	<div>
		<label>MBID:</label>
		<input type="text" [formControl]="mbid">
	</div>

	<div>
		<button type="button" (click)="getAlbumArt()">Get Album Art</button>
	</div>


	<div>
		<p>

		</p>
	</div>
	<div class="list">

		<ul *ngIf="!loading; else waitingForAlbums">
			{{albumArt.image}}
			<img src='{{albumArt.image}}' />
		</ul>

	</div>
	<div class="waiting">
		<ng-template #waitingForAlbums>
			<p>Fetching album art...</p>
		</ng-template>

	</div>

</body>