

<div class = "home">

</div>
<div class = "home">
    <h1 class = "homeHeader">Welcome To The MusicMerge App</h1>

</div>
<div class = "homeDescrpition">
    <p> You are only a few clicks away from having your own unique album art work based on your music and style.</p>
    <p> Step 1. Choose your favorite artist/album </p>
    <p> Step 2. Look through our style options to choose a style Id </p>
    <p> Step 3. Submit your pick to receive your personalized Album Art and Enjoy!</p>
    
</div>

<div class = "homeDirection">
    <h2 class = "homeDirection">Log In To Get Started! </h2>

    
</div>
<div>

    <div class ="toArtist">
    <button class="button" onclick={submit}>
        <a href="/login" class="href">
            Log In Here To Get Started! 
        </a>
      

      </button>
     </div> 
</div>
<div>
  <div class ="imgmusic">
    <img width="500px" height="300px" src={{music}}/>
</div>






