<!doctype html>
<html lang="en">
  <head>

   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  
</html>

<div class = "home">
    <h1 class = "homeHeader">
        <p>Welcome To The MusicMerge App</p>
        <p>Where you can insert your Albums to receive exclusive Album Art tailored to your picks!</p>

    </h1>
</div>
<div class = "home">
    <h1 class = "homeHeader">Welcome To The MusicMerge App</h1>

</div>
<div class = "homeDescription">
    <h2 class = "homeDescription">Insert your Albums to receive exclusive Album Art tailored to your picks!</h2>

    
</div>
<div>

    <button class="button" onclick={submit}>
        <a href="/album-upload" class="href">
            GET MY UNIQUE ALBUM ART NOW
        </a>
      </button>
</div>
<div>
    <button type="button" routerLink="album-upload">Submit Your Request Here!</button>
</div>




