<!doctype html>
<html lang="en">
  <head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <div>
	<h1 class=" albumUploadHeader">Provide your Albums!</h1>
</div>
<div>
	<p>
		
	</p>

</div>

  <body class =" albumUploadBody">
	<form formgroup ="neuralStyleFormGroup" (submit)="uploadAlbumWithStyle()">
		<div>
			<label>Album:</label>
			<input type="text" formControlName="albumInput">
		</div>
		<div>
			<label>StyleId:</label>
			<input type="number" formControlName="styleInput">
		</div>
	
	
		<div>
			<button type="submit" (click)="uploadAlbumWithStyle()">Imbue the selected style to the Album Art!</button>
		</div>

	</form>

  </body>
</html>



