.albumUploadHeader{
    display: inline-block;
	direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(108, 96, 116);
    color: rgb(219, 177, 231)

}

.albumUploadBody{

    display: inline;
	direction: column; 
    justify-content: center;
    text-align: center;

}
.dropdown{
    background-color: rgb(191, 172, 196);

}

* {
    text-align: center;
    background-color: rgb(108, 96, 116);
  }
  button{
    background-color: rgb(191, 172, 196);
    color: rgb(53, 37, 58);

  }
  label{
    color:  rgb(20, 8, 31);

  }
  input{
      background-color: antiquewhite;

  }